# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Idle Grass Farm Prototype.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GameDev\Unity3d Projects\Idle Grass Farm Prototype\.idea\.idea.Idle Grass Farm Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
